body {

    font-size: 1.3rem;
    line-height: 1.65;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    background-color: lightgray;
    margin: 2em;
}

.About {
    float: left;
}

.Port {
    float: right;
}

.PortfolioHeader {
    color: black;
}

.img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
}