body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url("Assets/OceanBackground.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  

.About {
    float: left;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.AboutMe2 {
    float: left;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Port {
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.PortfolioHeader {
    color: black;
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
    border: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#card-email {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}

}