body {

    font-size: 1.3rem;
    line-height: 1.65;
    color: black;
    background-color: lightgray;
    margin: 2em;
}

.About {
    float: left;
}

.Port {
    float: right;
}

.PortfolioHeader {
    color: black;
    font-size: 45px;
    font-weight: bold;
    padding: 10px;
    border: 10px;
}

.img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
}